* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

main {
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main h1 {
	font-size: 40px;
	font-weight: 700;
	color: #9e6714;
	margin-bottom: 20px;
}

.word-letters {
	font-size: 35px;
	font-weight: 500;
}

.word-letters.won {
	color: #239b55;
}

.word-letters.lost {
	color: red;
}

.letters {
	width: 664px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}

.letters .letter {
	background-color: rgba(91, 173, 255, 0.349);
	font-size: 20px;
	font-weight: 700;
	color: dodgerblue;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid dodgerblue;
	border-radius: 3px;
}

.letters .letter.disabled {
	background-color: rgb(129, 129, 129);
	color: rgb(80, 80, 80);
	border: 1px solid rgb(80, 80, 80);
}

.guess {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.guess label {
	font-size: 20px;
	font-weight: 500;
}

.guess input {
	height: 35px;
}

.guess .guess-btn {
	background-color: #239b55;
	font-size: 16px;
	font-weight: 700;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 8px 10px;
}

.guess .guess-btn.disabled {
	background-color: rgb(129, 129, 129);
	color: rgb(80, 80, 80);
	border: 1px solid rgb(80, 80, 80);
}

.hidden {
	display: none;
}
